#!/bin/bash

set -eufo pipefail

{{- $brews := list
    "act"
    "bash"
    "croc"
    "docker-compose"
    "elvish"
    "git"
    "highlight"
    "httpie"
    "k3d"
    "lastpass-cli"
    "mise"
    "nvim"
    "openjdk"
    "podman-compose"
    "tmux"
    "umlet"
    "yarn"
    "yt-dlp" }}

{{- $casks := list
    "bruno"
    "bitwarden"
    "docker"
    "flux"
    "font-ubuntu-mono-nerd-font"
    "ghostty"
    "hammerspoon"
    "http-toolkit"
    "iterm2"
    "megasync"
    "ngrok"
    "slack"
    "sqlitestudio"
    "tunnelbear"
    "zulu@17" -}}

{{- $large_casks := list
    "android-studio"
    "pgadmin4"
    "microsoft-edge"
    "qgis"
    "vlc"
    "zoom" -}}

{{ if eq .chezmoi.arch "amd64" }}
{{   $casks = concat $casks (list
        "virtualbox") }}
{{ end }}


# install ...
brew bundle -v --no-upgrade --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

