#!/bin/bash

# create project dirs
# --------------------------------------------------------
{{ if not .headless }}
folders=("ash" "docs" "foss")
{{ if .personal }}folders+=("hazel"){{ end }}
{{ if .work }}folders+=("work"){{ end }}
for folder in "${folders[@]}"; do
  mkdir -p ~/projects/$folder
done

# symlink elvish scripts 
# --------------------------------------------------------
if [ -d ~/.config/elvish ]; then
  ln -s ~/.config/elvish ~/projects/ash/
fi
{{- end }}


# set shell
# --------------------------------------------------------

# check that elvish is installed
if command -v elvish >/dev/null 2>&1; then
  ELVISH_PATH=$(command -v elvish)
  
  # check if elvish is already listed  in /etc/shells
  if ! grep -Fx $ELVISH_PATH /etc/shells >/dev/null; then
    echo $ELVISH_PATH >> /etc/shells
  fi

  # install third-party modules
  elvish -c "use epm; epm:install github.com/zzamboni/elvish-modules"

  # set default shell
  grep -qxF "$(which elvish)" /etc/shells || echo "$(which elvish)" | sudo tee -a /etc/shells
  chsh -s $(which elvish)
fi

