#!/bin/bash

set -eufo pipefail

{{- if (eq .chezmoi.os "darwin" "linux") }}
{{- $extensions := list
    "christian-kohler.path-intellisense"
    "codezombiech.gitignore"
    "DavidAnson.vscode-markdownlint"
    "dendron.dendron"
    "dendron.dendron-markdown-preview-enhanced"
    "dendron.dendron-markdown-shortcuts"
    "dendron.dendron-paste-image"
    "dendron.dendron-snippet-maker"
    "dionmunk.vscode-notes"
    "dongfg.vscode-beancount-formatter"
    "eamodio.gitlens"
    "EditorConfig.EditorConfig"
    "formulahendry.auto-close-tag"
    "formulahendry.auto-rename-tag"
    "golang.go"
    "hashicorp.terraform"
    "johnpapa.vscode-peacock"
    "Lencerf.beancount"
    "mechatroner.rainbow-csv"
    "ms-python.isort"
    "ms-python.python"
    "ms-vscode.live-server"
    "ms-vscode.makefile-tools"
    "rangav.vscode-thunder-client"
    "redhat.vscode-commons"
    "redhat.vscode-yaml"
    
    "SonarSource.sonarlint-vscode" 
    "streetsidesoftware.code-spell-checker"
    "vscode-icons-team.vscode-icons"
    "vstirbu.vscode-mermaid-preview"
    -}}

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end }}

{{- end }}
