[._]tmp/
config/
r/

install.sh


{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}


{{/* dot_config
  ------------------------------------------ */}}
{{- if .headless -}}
.config/direnv
.config/ghostty
.config/iterm2
.config/jj
.config/mise
.config/starship.toml
{{ else -}}
  {{- if not .work -}}
.config/iterm2
  {{- end -}}
{{ end -}}


{{/* dot_gitconfig, dot_ssh
  ------------------------------------------ */}}
{{- if not .personal -}}
.ssh/id_ed25519.pub
.ssh/id_ed25519
.ssh/id_rsa.pub
.ssh/id_rsa

.gitconfig.hazel
{{ end -}}

{{- if not .work -}}
.ssh/id_ed25519_eha.pub
.ssh/id_ed25519_eha

.gitconfig.eha
{{ end -}}

