Include /Users/abdulhakeem/.colima/ssh_config

Host github.com
	 HostName github.com
	 User git
	 IdentityFile ~/.ssh/id_ed25519

{{ if eq .chezmoi.os "darwin" }}
Host *
     AddKeysToAgent yes
     UseKeychain yes
{{ end }}
