#!/bin/bash

set -eufo pipefail

{{- $brews := list
    "act"
    "bash"
    "cgit"
    "croc"
    "direnv"
    "docker-compose"
    "git"
    "goenv"
    "go-task"
    "highlight"
    "httpie"
    "jq"
    "jenv"
    "k3d"
    "lastpass-cli"
    "maven"
    "micro"
    "n"
    "nvim"
    "ollama"
    "openjdk"
    "pipx"
    "pnpm"
    "pre-commit"
    "pyenv"
    "pyenv-virtualenv"
    "rbenv"
    "ripgrep"
    "sqlite"
    "syncthing"
    "terraform"
    "umlet"
    "yarn"
    "youtubedr" }}

{{- $casks := list
    "android-studio"
    "docker"
    "flux"
    "http-toolkit"
    "iterm2"
    "pgadmin4"
    "megasync"
    "microsoft-edge"
    "ngrok"
    "postman"
    "qgis"
    "slack"
    "sqlitestudio"
    "vagrant"
    "visual-studio-code"
    "vlc"
    "zoom"
    "zulu@17" -}}

{{ if eq .chezmoi.arch "amd64" }}
{{   $casks = concat $casks (list
        "virtualbox") }}
{{ end }}

# add taps
brew tap homebrew/cask-fonts              # for nerd-fonts

# install ...
brew bundle -v --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# install nixos
## curl -L https://nixos.org/nix/install | sh

