#!/bin/bash


# default installation - focused pkgs
brew bundle -v --file=/dev/stdin <<EOF
{{ range .packages.focused.brews -}}
brew {{. | quote}}
{{ end -}}

{{ range .packages.focused.casks.cli -}}
cask {{. | quote}}
{{ end -}}

{{- if not .ephemeral -}}
{{ range .packages.focused.casks.gui -}}
cask {{. | quote}}
{{ end -}}
{{ end -}}
EOF

# extras installation
{{- if not .focused -}}
brew bundle -v --file=/dev/stdin <<EOF
{{ range .packages.extras.brews -}}
brew {{. | quote}}
{{ end -}}

{{ range .packages.extras.casks.cli -}}
cask {{. | quote}}
{{ end -}}

{{- if not .ephemeral -}}
{{ range .packages.extras.casks.cli -}}
cask {{. | quote}}
{{ end -}}
{{ end -}}
EOF
{{ end -}}


# install/update mise packages
mise install && mise outdated -l
