#!/bin/bash

set -eufo pipefail

trap 'killall Dock' EXIT

declare -a remove_labels=(
  Launchpad
  Messages
  Mail
  Maps
  Photos
  FaceTime
  Contacts
  Reminders
  Notes
  TV
  Keynote
  Pages
  "App Store"
)

for label in "${remove_labels[@]}"; do
  dockutil --no-restart --remove "${label}" || true
done


declare -a add_labels=(
  /Applications/iTerm.app
  /Applications/Slack.app
  /Applications/Logseq.app
  /Applications/Bitwarden.app
{{- if not .focused -}}
  /System/Applications/Podcasts.app
  /Applications/Orion.app
  /Applications/Safari.app
  /Applications/Numbers.app
  /System/Applications/Calendar.app
  /System/Applications/Books.app
  /System/Applications/Freeform.app
  /Applications/TickTick.app
{{- end -}}
)

for label in "${add_labels[@]}"; do
  dockutil --no-restart --add "${label}" || true
done
