{
	auto_https off
	order cgi before respond
  log default {
		output file /opt/homebrew/var/log/caddy.err.log
		format json
	}
}

jo.lan:80 {
	reverse_proxy localhost:8800
}

git.jo.lan:80 {
	handle /cgit/* {
		root * /opt/homebrew/var/www/htdocs/
		file_server /cgit/*
	}
	handle {
		cgi * /opt/homebrew/share/cgit/cgit.cgi
	}
}

pubreg.emid.lan:80 {
	reverse_proxy localhost:3000
}

pubver.emid.lan:80 {
	reverse_proxy localhost:3001
}

10.0.2.2:80 {
	reverse_proxy localhost:5600
}

api.emid.lan:80 {
	reverse_proxy localhost:5600
}
