{{/* boolean feature tags */}}
{{- $ephemeral := false -}} {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}  {{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}  {{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $email := "s.abdulhakeeem@gmail.com" -}}
{{- if not $personal -}}
{{-   $email = "abdulhakeem.shaibu@ehealthnigeria.org" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    headlless = {{ $headless }}
    personal = {{ $personal }}
    homebrew_etc_dir = "/opt/homebrew/etc"
    homebrew_var_dir = "/opt/homebrew/var"
